@media screen and (max-width: 768px) {

    .img1 {
        left: -100px;
    }

    .img2 {
        right: -100px;
    }

    .img3 {
        bottom: -16rem;
    }
}

@media screen and (max-width: 750px) {
    .img3 {
        display: none;
    }
}

@media (min-width: 320px) {
    .headerImg {
      width: calc(12.5rem + ((1vw - 3.2px) * 17.8571));
      min-height: 0vw;
    }
  }
  

.headWriteup {
    z-index: 10;
}

    @media (min-width: 320px) {
        .headWriteup h1 {
            font-size: calc(1.875rem + ((1vw - 3.2px) * 1.6071));
          min-height: 0vw;
        }
    }